body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f0f0f0;
    box-sizing: border-box;
}

.container {
    max-width: 100%;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%; /* Padding proporcional */
    flex-wrap: wrap; /* Permite quebra de linha se necessário */
}

.logo {
    width: 100px; /* Menor para melhor ajuste */
    min-width: 80px; /* Tamanho mínimo */
    margin: 5px;
}

.header-title {
    flex-grow: 1;
    text-align: center;
    font-size: 18px; /* Tamanho adaptado */
    padding: 0 10px;
    margin: 0 auto; /* Auto margem para centralização */
}

.button {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.button:hover {
    background-color: #0056b3;
}

.title {
    text-align: center;
    margin: 20px 0;
    font-size: 22px;
}

.team-container {
    display: flex;
    justify-content: space-around; /* Espaçamento uniforme */
    flex-wrap: wrap;
    padding: 0;
}

.team-member {
    flex: 1 1 45%; /* Ajuste para ocupar até 45% em telas largas, para dois por linha */
    max-width: 300px; /* Máximo de largura para evitar membros muito largos */
    background: white;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    margin: 10px; /* Espaçamento */
    text-align: center;
}

.member-photo {
    width: 100%;
    height: auto;
}

.member-description {
    margin-top: 10px;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 15px 5%;
}

.social-links {
    display: flex;
    justify-content: center;
}

.instagram-logo, .twitter-logo {
    width: 24px; /* Menor para melhor ajuste */
    margin: 0 5px;
}

@media (max-width: 768px) {
    .header-title {
        font-size: 16px; /* Tamanho menor para melhor visualização */
    }

    .team-member {
        flex: 1 1 100%; /* Cada membro ocupa uma linha inteira em telas pequenas */
    }

    .logo, .button {
        padding: 5px;
    }

    header {
        padding: 10px 3%; /* Menos padding */
    }
}
